<section class="about-me">
  <div class="container">
    <h2 class="about-me-title visually-hidden">this is about me section</h2>
    <div class="section-description-wrap">
      <div class="section-description">
        <h3 class="section-description-text">
          I work with people all over the world to create impressive and
          <span class="text-functional">functional</span>
          <span class="text-web">websites</span>
          that reflect each client's unique personality.
        </h3>
      </div>
      <div class="section-img">
        <img
          class="img-avatar"
          src="../img/imgJPEG/heroImg/heroImg.jpg"
          alt="AvatarImg"
        />
      </div>
    </div>
    <ul id="accordion">
      <li>
        <label for="first"
          >ABOUT ME<span
            ><svg width="20" height="20">
              <use href="../img/imgSVG/arrows/arrowUp.svg"></use></svg></span
        ></label>
        <div class="content">
          <p class="text-one">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="text-two">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work.I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
        <hr />
      </li>
      <li>
        <label for="second"
          >ROLE<span
            ><svg width="20" height="20">
              <use href="../img/imgSVG/arrows/arrowUp.svg"></use></svg></span
        ></label>
        <hr />
      </li>
      <li>
        <label for="first"
          >EDUCATION<span
            ><svg width="20" height="20">
              <use href="../img/imgSVG/arrows/arrowUp.svg"></use></svg></span
        ></label>
        <hr />
      </li>
    </ul>
  </div>
</section>
