
<section class="about-me-section">
  <h2 class="visually-hidden">LLOYD JEFFERSON</h2>
  <div class="container-about-me">
    <div class="text-about-me-container">
      <h3 class="text-about-me">
        I work with people all over the world to create impressive and
        <span class="word-functional">functional</span
        ><span class="word-web"> websites</span> that reflect each client's
        unique personality.
      </h3>
    </div>
    <img
      class="img-avatar"
      src="./img/imgJPEG/heroImg/heroImg.jpg"
      alt="AvatarImg"
    />
  </div>
  <div class="about-me-container">
    <ul class="about-me-list"></ul>
  </div>
  <div class="skills-slider swiper-container"></div>
</section>

