<footer id ="footer" class="footer background">
  <div class="footer-container container">
    <div class="footer-title">
      <div class="footer-title-fl">
     
        <h2 class="lets-work">Let's <span class="work">work</span></h2>
      </div>
      <div class="footer-title-sl">
        <span class="together">together</span>
      </div>
    </div>
    <div class="footer-feedback-section">
      <div class="footter-form-div">
        <form class="formfield" id="formfield">
          <div class="input-group-one">
            <input
              class="e-mail"
              type="email"
              id="email"
              name="email"
              placeholder="clients@gmail.com"
              required
            />
            <svg
              width="343"
              height="2"
              viewBox="0 0 343 2"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 1H343" stroke="#FAFAFA" stroke-opacity="0.2" />
            </svg>
          </div>
          <div class="input-group-two">
            <input
              class="text"
              type="text"
              id="comments"
              name="comments"
              placeholder="comments"
              required
            />
            <svg
              width="343"
              height="2"
              viewBox="0 0 343 2"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 1H343" stroke="#FAFAFA" stroke-opacity="0.2" />
            </svg>
          </div>
          <button type="submit" class="send-button">Send</button>
        </form>
      </div>
      <div class="address-section">
        <address class="address">
          <ul class="contacts">
            <li class="address-item">
              <a class="mail-link" href="mailto:lloydjefferson@gmail.com"
                >lloydjefferson@gmail.com</a
              >
            </li>
            <li class="address-item">
              <a class="phone" href="tel:+3801111111111">+380 11 1111 11 11</a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</footer>


<div id="modal" class="modal is-hidden">
  <div class="modal-content">
    <button class="close-modal">&times;</button>
    <div class="text-box">
      <h2 class="modal-title">Thank you for your interest in cooperation!</h2>
      <p class="modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
 
