<footer>
  <div class="footer-container">
    <div class="zagolovok">
      <div class="block">
        <img
        class="userIcon"
        src="../img/imgSVG/userIcon.svg"
        width="44"
        height="44"
        alt="User Icon"
      />
      <h2 class="lets-work">
        Let's<span class="work">work</span></div>
        <div class="together">together</div>
      </h2>
    </div>
    <div class="feedback-section">
   <div class="input-group-one">
    <input class="e-mail" type="email" id="email" name="email" placeholder="clients@gmail.com" required />
    <svg width="343" height="2" viewBox="0 0 343 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1H343" stroke="#FAFAFA" stroke-opacity="0.2" />
    </svg>
</div>

<div class="input-group-two">
    <input class="text" type="text" id="comments" name="comments" placeholder="comments" required />
    <svg width="343" height="2" viewBox="0 0 343 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1H343" stroke="#FAFAFA" stroke-opacity="0.2" />
    </svg>
</div>


    <button type="submit" class="send" id="openModal">Send</button>
</div>
    <div class="address-section">
      <address class="address">
        <ul class="contacts">
          <li class="address-item">
            <a class="poczta" href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="address-item">
            <a class="phone" href="tel:+3801111111111">+380 11 1111 11 11</a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
