<header>
    <div class="header-div container">
        <div class="logo-container">
            <p class="logo-name">jefferson*</p>
        </div>
       <div class="burger-menu-container">
           <div class="menu-div" id="burger-menu">
               <button class="menu-button">Menu</button>
                <div class="menu-cont is-hidden">
                    <ul class="ankors-menu "></ul>
                    <button class="order-button-2">Order the project</button>
                </div>
            </div>
            <button class="order-button">Order the project</button>
       </div>
        <div class="burger-whipe">
            <button class="menu-burger-button">
                <svg width="40" height="40">
                    <use class="closeMenuSvgIcon is-hidden" href="./img/imgSVG/sprite.svg#closeIcon"></use>
                    <use class="burgerSvgIcon" href="./img/imgSVG/sprite.svg#burgerIcon"></use>
                </svg>
            </button>
        </div>
    </div>       

</header>

