<header>
    
        <div class="header-div .container">

            <!-- <nav class="flex"> -->
                <a class="logo flex" href="#">
                    <p class="logo-name">jefferson*</p>
                </a>
    
                <button type="button" class="menu-burger-button" >
                    <svg width="40" height="40">
                        <use class="closeMenuSvgIcon is-hidden" href="../img/imgSVG/sprite.svg#closeIcon"></use>
                        <use class="burgerSvgIcon" href="../img/imgSVG/sprite.svg#burgerIcon"></use>
                    </svg>
                  </button>
               <div class="burger-menu-container  flex">
                <div class="menu-div">
                    <button class="menu-button">Menu</button>    
                    <ul class="ankors-menu is-hidden"></ul>
                </div>
                
                </p>
                <button class="order-button">Order the project</button>
               </div>
            <!-- </nav> -->

        </div>
   
</header>

