
<section id="projects" class="section-project">  
  <div class="section-container">
    <h2 class="title-project">projects</h2>
        <div class="project-container">
          <div
          class="swiper-container-project">
              <ul class="projects-list"></ul>

          </div>
        </div>
      <ul class="buttons-list">
        <li>
          <button class="button-left-proj">
            <svg width="52" height="52">
              <use class="left-arrow-prjct " href="../img/imgSVG/sprite.svg#arrowLeft"></use>
            </svg>
        </button>
        </li>
          <li>
            <button class="button-right-proj">
              <svg width="52" height="52">
                <use class="right-arrow-prjct " href="../img/imgSVG/sprite.svg#arrowRight"></use>
              </svg>
            </button>
          </li>
      </ul>  
  </div>
</section>

