<section id="reviews" class="reviews-section">
    <div class="container">
    <h2>Reviews</h2>
    <div class="swiper">
        <div id="error-message" class="error-message" style="display: none;">404: Not found</div>
        <ul class="swiper-wrapper" id="reviews-list"></ul>
        <div class="button_pointer">
            <button class="swiper-button-prev" aria-label="Previous review">
                <svg width="52" height="52">
                    <use xlink:href="./img/imgSVG/sprite.svg#arrowLeft"></use>
                </svg>
            </button>
            <button class="swiper-button-next" aria-label="Next review">

                <svg width="52" height="52" >

                    <use xlink:href="./img/imgSVG/sprite.svg#arrowRight"></use>
                </svg>
            </button>
        </div>
    </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

