/* 
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  background-color: #1c1d20;
  color: #fff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

.about-me-section {
  margin: 0 auto;
  padding-top: 96px;
  background-color: #1c1d20;
}
.container-about-me {
  max-width: 1376px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 96px;
}

.text-about-me-container {
  border-radius: 24px;
  width: 680px;
  height: 700px;
  background-color: #3b3b3b;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
}

.text-about-me {
  font-family: var(--font-family);
  margin-top: 64px;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  font-size: 38px;
  line-height: 105%;
  letter-spacing: -0.03em;
}

.section-description {
  border-radius: 24px;
  width: 680px;
  background-color: #3b3b3b;
}

.img-avatar {
  border-radius: 24px;
  width: 680px;
  height: 700px;
  object-fit: cover;
}

.word-functional {
  color: #ed3b44;
}

.word-web {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-container {
  max-width: 1376px;
  height: 608px;
  margin: 0 auto;
  display: flex;
}

.about-me-list {
  width: 100%;
}

.about-me-list :not(:last-child) {
  margin-bottom: 32px;
}

.my-description {
  display: block;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  margin-bottom: 96px;
}

.el-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.ul-description {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 612px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin-left: auto;
  margin-right: 68px;
  margin-bottom: 32px;
}

.skills-slider {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.swiper {
  width: 1312px;
  height: 200px;
}

.swiper-wrapper {
  overflow-x: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  flex-shrink: 0;
}

.swiper-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: center;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.skills-list {
  display: flex;
}

.skills-link {
  display: flex;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  justify-content: center;
}

.skill-p {
  display: flex;
  align-items: center;
}

 */
