.benefits {
  padding: 32px 0;
}

/* @media only screen and (min-width: 768px) {
  .benefits {
  }
}
@media only screen and (min-width: 1440px) {
  .benefits {
  }
}

.benefits-title {
}
.benefits-list {
}
.benefits-elements {
}
.benefits-icon {
}
.benefits-subtitle {
}
.benefits-desc {
}
.benefits-link {
} */
