.benefits {
  padding: 32px 0;
}

@media only screen and (min-width: 768px) {
  .benefits {
    padding: 48px 0;
  }
}

@media only screen and (min-width: 1440px) {
  .benefits {
    padding: 82px 0;
  }
}

.benefits .container {
  max-width: 375px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .benefits .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .benefits .container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}

.benefits-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

@media only screen and (min-width: 1440px) {
  .benefits-title {
    margin-bottom: 0;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1440px) {
  .benefits-list {
    width: 680px;
  }
}

.benefits-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  max-width: 344px;
  background: #242527;
  border-radius: 20px;
}

@media only screen and (min-width: 1440px) {
  .benefits-elements {
    max-width: 332px;
  }
}
.benefits-wrapper {
  width: 48px;
  height: 48px;
  background: #ed3b44;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.benefits-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.order-link-benefits {
  display: block;
  padding: 18px 24px;
  width: fit-content;
  min-height: 55px;
  border: 1px solid transparent;
  border-radius: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: -0.02em;
  color: #fafafa;
  border-color: rgba(250, 250, 250, 0.2);
  padding: 18px 36px;
}

@media only screen and (min-width: 768px) {
  .benefits-link {
    margin-top: 64px;
  }
}

.benefits-link:hover,
.benefits-link:focus {
  background: #e0373f;
}

@media only screen and (min-width: 768px) {
  .benefits-link {
    margin-top: 64px;
  }
}

.benefits-link:hover,
.benefits-link:focus {
  background: #e0373f;
}
