
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
/* @media only screen and (min-width: 768px) { */
  .container {
    max-width: 768px;

    padding: 0 32px;
  }
  }

  @media only screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 32px;
    }
  }

  @media only screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;

}
/* Styles for Desktop devices */
@media  screen and (min-width: 858px) {
  .container {
    max-width: 1200px;
  }
  .container-into-project{
    display: flex;
    
    /* flex-wrap: wrap; */
    flex-direction: row;

    width: 1376px;
    height: 625;
    border-radius: 24px;
  }
  .project-img{
    margin-left: 37px;
  }

  
}

