.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
}

.covers-box {
    background-image: url('../img/imgJPEG/coversImg/covers-bg@1x.png');
    backdrop-filter: blur(10px);
    overflow: hidden;
    margin: auto;
/*     max-width: 375px; */
    height: 508px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 0px;
}

@media (min-resolution: 192dpi) {
    .covers-box {
        background-image: url('../img/imgJPEG/coversImg/covers-bg@2x.png');
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .covers-box {
        background-image: url('../img/imgJPEG/coversImg/covers-bg@2x.png');
        width: 768px;
        height: 960px;
    }
    .covers-box.container {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1440px) {
    .covers-box {
        /* background-color: #fff; */
        width: 1440px;
        height: 960px;
        margin: auto;
    }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .covers-box {
        background-image: url('../img/imgJPEG/coversImg/covers-bg@2x.png');
    }
}

.covers-gallery {
    transform: rotate(14deg);
    display: flex;
    flex-direction: column;
    position: relative;
    top: -120px;
    pointer-events: none;
}

.covers-item {
    margin-right: 24px;
    width: 282px;
    height: 163px;
    flex: 0 0 auto;
}

@media only screen and (min-width: 768px) {
    .covers-item {
        width: 544px;
        height: 314px;
        margin-right: 40px;
    }
}

.covers-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.covers-link {
    display: block;
    width: 100%;
    height: 100%;
}

.covers-list {
    white-space: nowrap;
    animation: scroll 40s linear infinite paused;
} 

.covers-list.active {
    animation-play-state: running;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .covers-list.active {
    margin-bottom: 40px;
    }
} 

.covers-list:nth-child(2) {
    animation-duration: 28s;
}

.covers-list:nth-child(3) {
    animation-duration: 35s;
}

.covers-list:nth-child(4) {
    animation-duration: 45s;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.covers-box .container {
  max-width: 375px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .covers-box .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .covers-box .container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}
