header{
    display: flex;
    background: none
    /* justify-content: center; */
}

.logo{
    display: flex;
}
.menu-button{
    background: none;
    border: none;
    padding: 10px;
    width: 60px;
    height: 39px;   
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 487px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
}

.menu-div{
flex-direction: column;
text-align: center;
}

.img-logo{
    margin-right: 8px;
    border-radius: 18px;
    width: 80px;
    height: 80px;
}

.logo-name{
    margin: 0;
    color: white;
}

.header-div{
    width: 1375px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 487px;
}

.ankors-menu{
    padding: 0;
    margin: 0;
    width: 67px;
    height: 91px;
    list-style: none;
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 250ms linear 250ms;
    transition: all 250ms linear 250ms;
  }

 .order-button{
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
 } 