header{
    margin: 0;
    position: absolute;
    z-index: 20;
    display: flex;
    background: none;
    width: 100%;
    justify-content: center;
}

.logo-container{
    display: flex;
}
.menu-button{    
    background: none;
    border: none;
    padding: 0;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 487px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
}
.menu-button:hover, .menu-button:focus{
    color: #ed3b44;
}
.menu-div{
height: 10px;
flex-direction: column;
text-align: center;
}
.img-logo{
    margin-right: 8px;
    border-radius: 20px;
    width: 80px;
    height: 80px;
}
.logo-name{
    margin: 0;
    color: #FAFAFA;
}
.header-div{

    width: 1376px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  

}
.ankors-menu{
    margin-top: 16px;
    white-space: nowrap;
    padding: 0;
    width: auto;
    list-style: none;
    color: #FAFAFA;;
}
.ankorLink{
    margin-top: 5px;
}
.ankorLink:hover, .ankorLink:focus{
    color: #ed3b44;
    cursor: pointer
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    pointer-events: none;  
    visibility: hidden;
  }
 .order-button{
    white-space: nowrap;
    background: none;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 24px 18px 24px;
    width: 187px;
    height: 55px;
    font-weight: 500;
    font-size: 16px;
    color: #FAFAFA;

    background-color: none;
 }
 .order-button:hover, .order-button:focus{
    background: #E0373F;
 }


 .menu-burger-button{
    padding: 0;
    flex-direction: column;
    height: 28px;
    width: 28px;
    background: none;
    display: flex;
    margin: 0;
    padding: 0;
    
 }

 .logo-container:hover{
    cursor:default;
 }

@media (min-width: 375px) and (max-width: 767px) {

.menu-button{
    display: none;
    justify-content: center;
}

.order-button-2{
    white-space: nowrap;
    background: none;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 24px 18px 24px;
    width: 187px;
    height: 55px;
    font-weight: 500;
    font-size: 16px;
    color: #FAFAFA;
    background-color: none;
}

    

.order-button-2:hover, .order-button-2:focus{
   background: #E0373F;
}
  
.order-button{
   display: none;
}

.header-div {    
    width: 375px;
    height: 80px;
    display: flex;
    flex-direction: row;

}

.burger-whipe {
    z-index: 15;
    display: block;
    cursor: pointer;
}


.header-div{
    position: relative;
 
}

.burger-menu-container {   
    width: 100%; 
}

.menu-div-is-open{
    position: fixed; 
    display: flex;
    overflow: hidden;
    top: 0; 
    left: 0;
    max-width:375px;
    width: 100%;
    
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-image: url(../img/imgJPEG/heroImg/glass-effect-min.jpg);
    z-index: 10; 
}


.menu-cont{
    display: flex;
    justify-content: center;
}



.order-button-2 {
    position: absolute; 
    bottom: 64px;   

}
}


 @media(min-width: 768px) {

    .order-button-2{
        display: none;
    }

    .menu-button{
        display: block;
    }

    
    .order-button{
        display: block;
    }
    .burger-whipe {
        display: none;
    }
    .header-div{
        width: 768px;;
    }
    .burger-menu-container{
        display: flex;
    }
    .header-div {
        display: flex;
        justify-content: center;         
      }
    
      .burger-menu-container {
        padding: 0;
        margin: 0;      
        position: relative;
        width: 100%; 
      }
    
      .menu-div {
        display: flex;
        align-items: center;
        width: 100%;
      }
    
     }

     @media(min-width: 1440px) {
      
        .header-div{
            width: 1440px;;
        }
        

     
     }
