header{
    display: flex;
    background-color: red;
    /* justify-content: center; */
}

.logo{
    display: flex;
}
.menu-button{
    background: none;
    border: none;
    padding: 10px;
    width: 60px;
    height: 39px;   
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 487px;
}

.menu-div{
flex-direction: column;
text-align: center;
}

.img-logo{
    border-radius: 30px;
}

.header-div{
    width: 1375px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 487px;
}

.ankors-menu{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* .is-hidden{
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 250ms linear 250ms;
    transition: all 250ms linear 250ms;
  } */

 .order-button{
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
 } 