.hero {
    background-image: url(../img/imgJPEG/heroImg/orange.png);
    width: 1440px;
    height: 900px;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}


.main-title {
    width:
    1084px;
    height:
    270px;
    font-size: 90px;
    line-height: 90px;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #FAFAFA;
}

.list-link {
    margin-right: 32px;
    margin-bottom: 32px;
    position: absolute;
    display: flex;
    list-style: none;
    bottom: 0;
    right: 0;
}


.link-wrap {
    width: 55px;
    height: 45px;
    border: solid 1px;
    border-color: aliceblue;
    border-radius: 50%;
    margin-right: 8px;
    text-align: center;
    padding: 17px 8px 1px 8px;
}

.link-wrap a {
    width: 55px;
    height: 55px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    color: aliceblue;

}

.link-big:hover {
border: 2px gray;
transition: 0.3s ease-in-out;
opacity: 0.5;
border-color: transparent rgba(255, 255, 255, 03);
box-shadow: 0 0 10px rgba (255, 255, 255, 0.3);
}

.link-big {
    border: solid 1px;
    width: 223px;
    height: 30px;
    border-radius: 60px;
    padding: 18px 14px 14px 13px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #FAFAFA
}




/* Планшетная версия */
@media (max-width: 1024px) {

    .hero {
        width: 768px;
        height: 1024px;
        padding: 20px;
    }

    .main-title {
        width: 632px;
        height: 450px;
    }

    .list-link {
        gap: 5px;
        margin-right: 32px;
        margin-bottom: 32px;

    }
    .second-wrap {
        width: 223px;
        height: 40px;
        padding: 15px 15px 18px 15px;
    }


}

@media (max-width: 767px) {
    .hero {
        width: 375px;
        height: 812px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .main-title {
        width: 343px;
        height: 450px;
        font-weight: 500;
        top: 281px;
        left: 16px;
        font-size: 90px;
        line-height: 90px;
        margin-left: 32px;
    }

    .list-link {
        font-size: 16px;
        display: flex;
        align-items: center;
    
    }

    .link-wrap {
        padding: 6px 7px 2px ;
        font-size: 10px;
        width: 55px;
        height: 30px;
        text-align: center;
        font-weight: 500;

    }


    .link-big {
        border: solid 1px;
        width: 225px;
        Height: 30px;
        border-radius: 60px;
        Padding: 8px 12px 1px 4px ;
        text-align: center;
        margin: 0 auto;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        color: #FAFAFA
    }



}


@media (max-width: 375px) {
    .hero {
        width: 400px;
        height: 812px;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        overflow: hidden;

    }

    .main-title {
        width: 343px;
        height: 250px;
        font-weight: 500;
        font-size: 50px;
        line-height: 50px;
        margin-left: 16px;

    }

    .list-link {
        width: 388px;
        height: 37px;
        margin-bottom: 32px;
    }

    .link-wrap {
        font-size: 14px;
        width: 37px;
        height: 30px;
        margin-right: 4px;
      
       
    }

    .link-big {
        border: solid 1px;
        width: 200px;
        font-size: 14px;
        border-radius: 60px;
        
    }
  
}

@media (min-width: 320px ) and (max-width: 375px) {
.hero {
width: 100%;

}

.list-link {
    width:100%
}

}
    
