/* Mobile First */
.container {
    max-width: 375px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.reviews-section {
    margin-top: 64px;
    margin-bottom: 64px;
}

.reviews-section h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    text-align: start;
    padding-bottom: 32px;
    text-transform: uppercase;
    white-space: nowrap;
}

#reviews .swiper {
    position: relative;
    overflow: hidden;
    width: 343px;
    margin: auto;
}

#reviews .swiper-wrapper {
    display: flex;
    padding: 0;
    list-style: none;
    display: flex;
    transition: transform 0.3s ease;
    will-change: transform;
    margin-bottom: 32px;
}

#reviews .swiper-slide {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    margin: 0 auto;
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 376px;
}

.review-avatar {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 32px;

}

.review-author {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: aliceblue;
    margin: 0;
}

.review-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    margin-top: 8px;
}

.button_pointer {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.swiper-button-prev,
.swiper-button-next {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.error-message {
    font-weight: 600;
    font-size: 35px;
    color: red;
    text-align: center;
}


/* Планшеты (от 768px) */
@media (min-width: 768px) {

    .reviews-section {
        margin-top: 96px;
        margin-bottom: 96px;
    }

        #reviews .swiper {
        width: 100%;
        max-width: 704px;
        overflow: hidden;
        margin: 0 auto;
    }

        #reviews .swiper-wrapper {
        display: flex;
    }

        #reviews .swiper-slide {
        flex: 0 0 calc(50% - 8px) !important;
        max-width: calc(50% - 8px) !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 68px;
        height: 68px;
    }

    .swiper-button-prev svg,
    .swiper-button-next svg {
        width: 68px !important;
        height: 68px !important;
    }

}

/* Десктопы (от 1440px) */
@media (min-width: 1440px) {
    .reviews-section {
        margin-top: 164px;
        margin-bottom: 164px;

    }

        #reviews .swiper {
        width: 100%;
        max-width: 1376px;
        overflow: hidden;
        margin: 0 auto;
    }

         #reviews .swiper-wrapper {
        display: flex;
    }

        #reviews .swiper-slide {
        flex: 0 0 calc(25% - 8px) !important;
        max-width: calc(25% - 8px) !important;
    }
}